.view {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	&,
	:global(.view_animation) {
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
		animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	}
	overflow: hidden;
}

.toLeft {
	&,
	:global(.view_animation) {
		animation-name: moveToLeft;
	}
}

.toRight {
	&,
	:global(.view_animation) {
		animation-name: moveToRight;
	}
}

.fromLeft {
	&,
	:global(.view_animation) {
		animation-name: moveFromLeft;
	}
}

.fromRight {
	&,
	:global(.view_animation) {
		animation-name: moveFromRight;
	}
}

@keyframes moveToLeft {
	0% {
		left: 0; /* Start position */
	}
	100% {
		left: -100vw;
	}
}

@keyframes moveToRight {
	0% {
		left: 0;
	}
	100% {
		left: 100vw;
	}
}

@keyframes moveFromLeft {
	0% {
		left: -100vw;
	}
	100% {
		left: 0;
	}
}

@keyframes moveFromRight {
	0% {
		left: 100vw;
	}
	100% {
		left: 0;
	}
}
