.header {
	// temp
	background: linear-gradient(to top, transparent 5%, rgba(88, 88, 88, 0.7) 100%);
	background-color: orange;
	height: 25px;
	width: 100vw;
	padding: 2.5px;
	font-size: 17px;
	text-align: center;
}
